[Unit]
Description=Systemd service for turning on the security camera.
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/python /home/%i/SecurityCamera/main.py
User=%i
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target